@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	.mobile-callbtn
		display: none
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)			
	.partners-slider
		margin-top: -6rem
		.partners-controls
			order: -1
			margin-bottom: 3rem !important		
			justify-content: end !important
	.section-title
		font-size: 3rem !important
		margin-bottom: 2rem !important
	.mobile-callbtn
		display: inline-block
	.navbar
		.nav-toggle
			margin-left: 1rem
	.hero-text 
		h1
			font-size: 4rem
	.services
		padding: 3rem
		&-header
			.header
				font-size: 4rem
	.about-us-wrapper
		padding: 3rem
		.section-header
			.header
				font-size: 4rem
	.call-us-wrapper
		padding: 3.5rem
	.call-us-body
		.call-us-contacts
			.contact
				font-size: 1.5rem
			grid-gap: 1rem
	.step-wrapper
		position: relative
		.controls
			position: absolute
			top: 0
			right: -9.5rem
		.indicators
			padding-left: 2rem
			justify-content: start
	.step-item
		justify-content: end
	.contacts .contacts-get-q
		.header
			font-size: 1.75rem
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	.call-us-body
		border-right: 1px solid rgba(255, 255, 255, .4)
	.section-title
		font-size: 4rem !important
	.mobile-callbtn
		display: none
	.nav-toggle
		display: none
	.navbar .navbar-links
		align-items: center
	.navbar-links
		display: flex
		.nav-link
			font-size: .875rem
			padding: .5rem
		.btn
			font-size: .75rem
	.about-images
		position: absolute !important
		padding: 0 1.5rem
		margin-top: 0 !important
	.about-us-wrapper
		.section-header
			.header
				max-width: 50rem
	.call-us-phone
		display: block
		position: absolute
		left: 50%
		transform: translateX(-50%)
		bottom: -3.5rem
	.step-img
		aspect-ratio: 5/8
	.copyrights
		text-align: right
	.service-megamenu
		position: absolute
		top: 100%
		background-color: #00072D
		height: auto
		width: 100%
		left: 0
		border-radius: 0
		padding: 2rem
		overflow: initial
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	.navbar-links
		display: flex
		.nav-link
			padding: .75rem 1rem
			font-size: .875rem
		.btn
			font-size: .875rem
	.service-megamenu
		position: absolute
		z-index: 2048
	/**/

