.footer
  background-color: #00072D
  padding: 18rem 0 2.5rem
  .logo-brand
    height: 5rem
    .logoSvg
      fill: white
  .footer-links
    display: flex
    flex-direction: column
    grid-gap: .75rem
    font-size: 1.25rem
    font-weight: 600
    line-height: 1.5
    a
      color: white
      transition: all .2s ease-in-out
      &:hover
        color: $accent-color
        transition: all .2s ease-in-out
.social-icons
  display: flex
  grid-gap: 1.5rem
.copyrights
  color: #ACACAC
  text-align: left
  font-size: 1.25rem
  font-weight: 600